.game-wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
}

.game-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.g-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-entry-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;

  min-height: auto;
  min-width: 100%;
}

.game-entry-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-col,
.game-input-container {
  min-width: 33.3%;
}

.main-game-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  flex: 1;

  min-width: 100%;
  min-height: 100%;
  width: 100%;
}

.game-word {
  margin: 40px 0 60px 0;
  font-size: 3rem;
}

.game-score,
.game-timer {
  margin-top: 20px;
  font-size: 1.6rem;
}

.game-input {
  color: antiquewhite;
  text-align: center;
  font-size: 1.4rem;
  background: none;
  border: 1px solid rgb(46, 63, 153);
  border-radius: 5px;

  height: 40px;
  width: 230px;
}

.score-list-container {
  display: flex;
  flex-direction: column;
  margin: 23px;
  max-height: 60vh;
  overflow: auto;
}

.score-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 7px 0;
  align-items: center;
  border-radius: 8px;
  padding: 12px;
  background-color: rgb(23, 23, 27);
}

.score-attribute {
  color: rgb(85, 94, 94);
}

.name-container {
  width: 50px;
}

.score-attribute,
.score-content {
  align-items: center;

  text-align: left;
  margin: 4px;
  font-size: 0.8rem;
}
