.main-topic-container {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  min-width: 100%;
}

.topic-select-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 0 12% 0;
}

.topic-header {
  margin: 0 0 12px 0;
}

.topic-btn {
  transition: background-color 0.06s ease-in;
  transition: background-color 0.3s ease-out;

  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.404);
  background-color: rgb(49, 52, 63);
  color: antiquewhite;
  font-size: 1.3rem;
  width: 230px;
  height: 80px;
  margin: 12px;
  border-radius: 8px;
}

.main-topic-container,
.main-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  flex: 1;

  min-width: 100%;
  min-height: 100%;
  width: 100%;
}

.topic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
