#root {
  min-height: 100vh;
  min-width: 100%;

  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

label,
h1,
h2,
h3,
h4,
p,
li {
  color: antiquewhite;
}



